/* Welcome to my stylesheet!
Where I fumble around in attempts to make things look good, but honestly having no sense of design...
So... I revert back to basics and probably leave weird remnants of given up ideas
I probably should have used bootstrap, but I feel like this was more for the JavaScript anyways. */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('https://www.mtlblog.com/u/2018/11/21/49e6e237049def5606f47f353fa7f72679148a2c.jpg_1200x630.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive, serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

header {
  width: 100%;
  padding: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: #fff;
  background: #4f4f4f;
  border-bottom: 5px solid #2f2f2f;
}

#main-content {
  flex: 1;
}
.container {
  height: 83vh;
  width: 960px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background: #efefef;
  border: 2px solid #afafaf;
}
#game-title {
  height: 40px;
  margin-top: 25px;
}
.container div {
  padding: 25px;
}
.flex-section {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.flex-section section {
  width: 50%;
  text-align: center;
}
#img-div {
  max-height: 900px;
  max-width: 98%;
  min-width: 100%;
  margin-top: 25px;
}
.game-info {
  min-height: 75px;
  padding: 10px;
  margin-top: 25px;
}
#word-to-guess {
  font-size: 1.6em;
}
#guesses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#guesses img {
  height: 16.66%;
  width: 16.66%;
}

footer {
  padding: 25px;
  text-align: center;
  color: #fff;
  background: #4f4f4f;
  border-top: 5px solid #2f2f2f;
}
